<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title"> Bem vindo! </mat-card-title>
    <mat-card-subtitle class="subtitle"> Sistemas para exemplificar a construção de um cadastro em Angular
    </mat-card-subtitle>

    <!-- #Essa parte foi criada para treianar o uso de dietiva estrutural (for.directive.ts)#
    <ul>
        <li *myFor="let n em [1, 2, 3]"> {{ n }}</li>

        - Aqui estou aplicando o myFor, e irá fazer o que ele manda, nesse caso é um laço for, assim como o *ngFor, ao chamar seu construtor, eu quero que ele repita esse li 3 vezes, ou seja para cada um dos números(1, 2, 3); - Lembrar sempre de usar o * em diretivas
        estruturais; - É preciso uma sintaxe especifica para pegar o que está depois do em, e para considerar o [1, 2, 3] um array de números;

    </ul>
    #Essa parte foi criada para treianar o uso de dietiva estrutural# -->

</mat-card>